{% extends 'news/base.html' %}
{% load static %}

{% block title %} Turkumlar {% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                {% for news in category_news %}
                <a href="{% url 'details' news.slug %}">
                    <img src="{{ news.image.url }}" alt="{{ news.title }}" style="width:50%">
                    <h2>{{ news.title }}</h2>
                </a>
                {% endfor %}
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <aside class="right_content">
                    <div class="single_sidebar">
                        <h2><span>Mashhur Postlar</span></h2>
                        <ul class="spost_nav">
                            {% for news in popular_posts %}
                            <li>
                                <div class="media wow fadeInDown">
                                    <a href="{% url 'details' news.slug %}" class="media-left">
                                        <img alt="{{ news.title }}" src="{{ news.image.url }}">
                                    </a>
                                    <div class="media-body">
                                        <a href="{% url 'details' news.slug %}" class="catg_title">{{ news.title }}</a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="latest_post">
                      <h2><span>So'ngi yangiliklar</span></h2>
                      <div class="latest_post_container">
                        <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
                        <ul class="latest_postnav">

                          {% for news in news_list|slice:"4:9" %}
                          <li>
                            <div class="media"> <a href="{{ news.get_absolute_url }}" class="media-left"> <img alt="" src="{{ news.image.url }}"> </a>
                              <div class="media-body"> <a href="pages/single_page.html" class="catg_title">{{ news.title }}</a> </div>
                            </div>
                          </li>
                          {% endfor %}
                        </ul>
                        <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
                      </div>
                    </div>


                    <div class="single_sidebar">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Turkumlar</a></li>
                            <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Videolar</a></li>
                            <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Sharxlar</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="category">
                                {% for ctg in categories %}
                                <ul>
                                    <li class="cat-item"><a href="{% url 'category' ctg.name %}">{{ ctg.name }}</a></li>
                                </ul>
                                {% endfor %}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="video">
                                <div class="video_area">
                                    <iframe width="100%" height="315"
                                        src="https://www.youtube.com/embed/qtFiwEkQNjM"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="comments">
                                <ul class="spost_nav">
                                    {% for comment in comments %}
                                    <li class="mb-3">
                                        <div class="media wow fadeInDown">
                                            <div class="media-body">
                                                <h5 class="media-heading">
                                                    <small class="text-muted">
                                                        <a href="{% url 'details' comment.post.slug %}">{{ comment.post.title|truncatewords:3 }}</a>
                                                    </small>
                                                    <strong>ga {{ comment.user.username }}</strong>
                                                    <p>sharx qoldirdi:</p>
                                                </h5>
                                                <p class="mt-1">{{ comment.content }}</p>
                                            </div>
                                        </div>
                                    </li>
                                    {% empty %}
                                    <li>
                                        <div class="media-body">
                                            <p class="text-muted">Sharxlar mavjud emas.</p>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Reklama qismi -->
                    <div class="single_sidebar wow fadeInDown">
                        <h2><span>Reklama</span></h2>
                        <a class="sideAdd" href="https://artelelectronics.com/" target="_blank">
                            <img src="{% static 'images/artel.jpg' %}" alt="Reklama rasmi">
                        </a>
                    </div>

                    <!-- Barcha turkumlar -->
                    <div class="single_sidebar wow fadeInDown">
                        <h2><span>Barcha turkumlar</span></h2>
                        <select class="catgArchive" onchange="if (this.value) window.location.href=this.value;">
                            <option value="">Turkumlarni tanlang</option>
                            {% for category in categories %}
                                <option value="{% url 'category' category.name %}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </aside>
            </div>
        </div>
    </div>
{% endblock content %}