{% extends 'news/base.html' %}

{% load static %}

{% block title %} Batafsil {% endblock title %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">

  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_page">
            <h1>{{ news.title }}</h1>
            <div class="post_commentbox">
              <a href=""><i class="fa fa-eye">{{ news.views }}</i></a> <span><i class="fa fa-calendar"></i>{{ news.publish_time }}</span> <a href="#"><i class="fa fa-tags"></i>{{ news.category }}</a>
            </div>
            <div class="single_page_content"> <img class="img-center" src="{{ news.image.url }}" alt="{{ news.title }}">
              <p>{{ news.body }}</p>
            </div>

            <h3>Sharhlar ({{ comments|length }})</h3>
            <div class="comments-section">
                {% for comment in comments %}
                <div class="comment" id="comment-{{ comment.id }}" data-comment-id="{{ comment.id }}">
                    <div class="comment-header">
                        <strong>{{ comment.user.username }}</strong>
                        <small>{{ comment.created_at|date:"d M Y, H:i" }}</small>
                    </div>
                    <p class="comment-text" id="comment-text-{{ comment.id }}">{{ comment.content }}</p>
                    {% if user.is_authenticated and comment.user == user %}
                    <div class="comment-actions">
                        <a href="#" class="edit-comment" data-id="{{ comment.id }}">Tahrirlash</a>
                        <a href="#" class="delete-comment" data-id="{{ comment.id }}" onclick="return confirm('Haqiqatan ham o‘chirmoqchimisiz?')">O‘chirish</a>
                    </div>
                    {% endif %}
                </div>
                {% empty %}
                <p>Hozircha izohlar yo‘q. Birinchi bo‘lib fikr bildiring!</p>
                {% endfor %}
            </div>

            {% if user.is_authenticated %}
            <div class="comment-form">
                <h4>Izoh qoldirish:</h4>
                <form id="commentForm" method="post">
                    {% csrf_token %}
                    <textarea id="commentContent" name="content" required placeholder="Fikringizni yozing..."></textarea>
                    <button type="submit">Yuborish</button>
                </form>
            </div>
            {% else %}
            <p>Izoh qoldirish uchun <a href="{% url 'login' %}">kirish</a> qiling.</p>
            {% endif %}

            <!-- Tahrirlash uchun modal -->
            <div id="edit-comment-modal" style="display:none;">
                <form id="edit-comment-form">
                    {% csrf_token %}
                    <textarea id="edit-comment-content"></textarea>
                    <button type="submit">Saqlash</button>
                    <button type="button" onclick="$('#edit-comment-modal').hide();">Bekor qilish</button>
                </form>
            </div>

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
            $(document).ready(function(){
                // **Izoh qo'shish**
                $("#commentForm").submit(function(e){
                    e.preventDefault();
                    var content = $("#commentContent").val();
                    $.ajax({
                        url: "{% url 'comment_add' news.slug %}",
                        type: "POST",
                        data: {
                            content: content,
                            csrfmiddlewaretoken: "{{ csrf_token }}"
                        },
                        success: function(response){
                            if(response.success){
                                $(".comments-section").append(`
                                    <div class="comment" id="comment-${response.comment_id}">
                                        <div class="comment-header">
                                            <strong>{{ user.username }}</strong>
                                            <small>Hozirgina</small>
                                        </div>
                                        <p class="comment-text" id="comment-text-${response.comment_id}">${content}</p>
                                        <div class="comment-actions">
                                            <a href="#" class="edit-comment" data-id="${response.comment_id}">Tahrirlash</a>
                                            <a href="#" class="delete-comment" data-id="${response.comment_id}" onclick="return confirm('Haqiqatan ham o‘chirmoqchimisiz?')">O‘chirish</a>
                                        </div>
                                    </div>
                                `);
                                $("#commentContent").val("");
                            }
                        }
                    });
                });

                // **Tahrirlash**
                $(".edit-comment").click(function(e){
                    e.preventDefault();
                    var comment_id = $(this).data("id");
                    var content = $("#comment-text-" + comment_id).text();
                    $("#edit-comment-content").val(content);
                    $("#edit-comment-form").attr("data-id", comment_id);
                    $("#edit-comment-modal").show();
                });

                $("#edit-comment-form").submit(function(e){
                    e.preventDefault();
                    var comment_id = $(this).attr("data-id");
                    var content = $("#edit-comment-content").val();

                    $.ajax({
                        url: "/comment/update/" + comment_id + "/",
                        type: "POST",
                        data: {
                            content: content,
                            csrfmiddlewaretoken: "{{ csrf_token }}"
                        },
                        success: function(response){
                            if(response.success){
                                $("#comment-text-" + comment_id).text(content);
                                $("#edit-comment-modal").hide();
                            }
                        }
                    });
                });

                // **O‘chirish**
                $(".delete-comment").click(function(e){
                    e.preventDefault();
                    var comment_id = $(this).data("id");

                    $.ajax({
                        url: "/comment/delete/" + comment_id + "/",
                        type: "POST",
                        data: {
                            csrfmiddlewaretoken: "{{ csrf_token }}"
                        },
                        success: function(response){
                            if(response.success){
                                $("#comment-" + comment_id).remove();
                            }
                        }
                    });
                });
            });
            </script>


            {% if user.is_authenticated %}
            <div class="comment-form">
                <h4>Izoh qoldirish:</h4>
                <form id="commentForm" method="post">
                    {% csrf_token %}
                    <textarea name="content" required placeholder="Fikringizni yozing..."></textarea>
                    <button type="submit">Yuborish</button>
                </form>
            </div>
            {% else %}
            <p>Izoh qoldirish uchun <a href="{% url 'login' %}">kirish</a> qiling.</p>
            {% endif %}

            <div class="social_link">
              <ul class="sociallink_nav">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
            <div class="related_post">
              <h2>O'xshash Yangiliklar <i class="fa fa-thumbs-o-up"></i></h2>
              <ul class="spost_nav wow fadeInDown animated">

                {% for news in newses %}
                <li>
                  <div class="media"> <a class="media-left" href="{% url 'details' news.slug %}"> <img src="{{ news.image.url }}" alt="{{ news.title }}"> </a>
                    <div class="media-body"> <a class="catg_title" href="{% url 'details' news.slug %}">{{ news.title }}</a> </div>
                  </div>
                </li>
                {% endfor %}

              </ul>
            </div>
          </div>
        </div>
      </div>
      <nav class="nav-slit"> <a class="prev" href="#"><span class="icon-wrap"><i class="fa fa-angle-left"></i></span>
        <div>
          <h3>City Lights</h3>
          <img src="../images/post_img1.jpg" alt=""/> </div>
        </a> <a class="next" href="#"> <span class="icon-wrap"><i class="fa fa-angle-right"></i></span>
        <div>
          <h3>Street Hills</h3>
          <img src="../images/post_img1.jpg" alt=""/> </div>
        </a> </nav>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Mashxur POstlar</span></h2>
            <ul class="spost_nav">
              {% for news in popular_posts %}
              <li>
                <div class="media wow fadeInDown"> <a href="{% url 'details' news.slug %}" class="media-left"> <img alt="" src="{{ news.image.url }}"> </a>
                  <div class="media-body"> <a href="{% url 'details' news.slug %}" class="catg_title">{{ news.title }}</a> </div>
                </div>
              </li>
               {% endfor %}
            </ul>
          </div>
          <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
              <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Video</a></li>
              <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                {% for ctg in categories %}
                <ul>
                  <li class="cat-item"><a href="{% url 'category' ctg.name %} ">{{ ctg.name }}</a></li>
                </ul>
                {% endfor %}
              </div>
              <div role="tabpanel" class="tab-pane" id="video">
                <div class="vide_area">
                  <iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="comments">
                <ul class="spost_nav">
                  <li>
                    <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="../images/post_img1.jpg"> </a>
                      <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="../images/post_img2.jpg"> </a>
                      <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="../images/post_img1.jpg"> </a>
                      <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="../images/post_img2.jpg"> </a>
                      <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Sponsor</span></h2>
            <a class="sideAdd" href="#"><img src="../images/add_img.jpg" alt=""></a> </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Category Archive</span></h2>
            <select class="catgArchive">
              <option>Select Category</option>
              <option>Life styles</option>
              <option>Sports</option>
              <option>Technology</option>
              <option>Treads</option>
            </select>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Links</span></h2>
            <ul>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Rss Feed</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Life &amp; Style</a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </section>

{% endblock content %}